:root {
  --accent-color: #4285f4;
  --accent-color-dark: #2467D6;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border: 2px solid #F1F1F1;
}
::-webkit-scrollbar-thumb:hover {
  background: #A8A8A8;
}
* {
  box-sizing: border-box;
  transition-duration: .25s;
}
html, body {
  font: 16px arial, sans-serif;
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  height: 56px;
  width: 100%;
  background: #fff;
  overflow: hidden;
  text-align: center;
  z-index: 50;
}
.header-shadow {
  box-shadow: 0 0 8px rgba(0,0,0,.5);
}
h1, h2 {
  font-weight: normal;
  font-size: 1.17em;
}
h1 {
  height:100%;
  display: inline-block;
  color: #767676;
  line-height: 56px;
  margin: 0;
}
h2 {
  margin: 1.68em 0 .42em;
}
p {
  margin: .42em 0;
  color: #767676;
}
article {
  max-width: 720px;
  padding: 10px;
  margin: 56px auto 0;
}
#table{
  overflow: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  -webkit-print-color-adjust: exact;
  printer-colors: exact;
  color-adjust: exact;
}
td, th, .subject {
  border: 1px solid #dcdcdc;
  text-align: center;
  width: 16%;
  padding: 0;
  min-width: 100px;
}
th {
  border: 1px solid #000;
  background: #000;
  color: #fff;
  padding: 8px;
  font-weight: normal;
}
td > .subject {
  border: none;
  width: 100%;
}
#delete > .subject {
  border: 2px solid #b22222;
  width: 100%;
}
#edit > .subject {
  width: calc(100% - 4px);
  margin: 2px 2px 0;
}
.subject {
  padding: 8px;
  cursor: move;
  overflow: hidden;
}
button, .input-file {
  margin: 4px 0;
  outline: 0;
  border: 0;
  border-radius: 2px;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
}
button:hover, .input-file:hover {
  background-color: var(--accent-color-dark);
}
input[type="file"], #created_with {
  display: none;
}
#delete, #edit {
  border-radius: 2px;
  min-height: 116px;
  padding: 0 0 28px;
  overflow: auto;
}
#delete {
  border: 2px solid #b22222;
  background-color: #b22222;
}
#edit {
  border: 2px solid #dcdcdc;
}
#loading_screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 100;
}
#loading_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#loading_content > p {
  margin-top: 64px;
  text-align: center;
}
.balls {
  width: 96px;
  display: flex;
  margin: auto;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.balls div {
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transform: translateY(-100%);
  animation: wave 0.8s ease-in-out alternate infinite;
}
.balls div:nth-of-type(1) {
  animation-delay: -0.8s;
}
.balls div:nth-of-type(2) {
  animation-delay: -0.4s;
}
.balls div:nth-of-type(3) {
  animation-delay: -0.2s;
}
.dialog_frame {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .75);
  z-index: 100;
}
.dialog_content {
  position: absolute;
  width: 90%;
  max-width: 480px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 16px;
  border-radius: 8px;
}
.dialog_content > p, .dialog_content > h2, .dialog_content > input {
  margin: 0 0 16px;
}
.dialog_content > p {
  font-size: 14px;
}
.dialog_button_bar {
  margin: 32px 0 0;
  text-align: right;
}
.dialog_button_bar > button {
  background: none;
  color: var(--accent-color);
  margin: 0;
  padding: 0 16px;
}
input[type=text] {
  padding: 6px 3px;
  width: 20em;
  max-width: 100%;
  border: 0;
  border-bottom: 2px solid #767676;
  outline: 0;
  font: inherit;
}
input[type=text]:focus {
  border-bottom: 2px solid var(--accent-color);
}
.invisible {
  display: none;
}
.space {
  height: 16px;
}
hr {
  display: block;
  height: 1px;
  margin: 1.68em 0;
  background: #dcdcdc;
  border: 0;
}
@keyframes wave {
  from {transform: translateY(-100%);}
  to {transform: translateY(100%);}
}
@media print {
  @page {
    size: landscape;
    margin: 0;
  }
  header, #edit_section {
    display: none;
  }
  #created_with {
    display: block;
    text-align: right;
    color: #dcdcdc;
  }
  html, body {
    max-width: 100%;
    padding: 32px;
  }
  article, header {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}
